<div class="row">
	<div class="col-md-12 main-panel">
		<div class="row">
			<div class="col-md-6">
				<h4>Subject</h4>
				<code>
          {{subjectCode}}
        </code>
				<p>Result:</p>
				<p *ngFor="let item of subjectValues">{{item}}</p>
				<p>A Subject doesn't hold a value.</p>
				<p>Can handle values which are emitter after the subscription. Values emitter before subscription are
					ignored. </p>
				<p>Initialization value is not mandatory.</p>

			</div>
			<div class="col-md-6">
				<h4>BehaviourSubject</h4>
				<p>Result:</p>
				<code>
          {{behSubjectCode}}
        </code>
				<p *ngFor="let item of behSubjectValues">{{item}}</p>
				<p>A BehaviorSubject holds one value. When it is subscribed it emits the value immediately. </p>
				<p>Before subscription it holds the last value emitted. If no value emitted then it takes initialization
					value. </p>
				<p>Initialization value is mandatory. </p>

			</div>
		</div>
	</div>

</div>